[Unit]
Description=Arch Women IRC bot to log #%i
Documentation=man:awbot-logr(1)
After=network.target

[Service]
ExecStart=/usr/bin/awlogr channel=#%i
Restart=always

[Install]
WantedBy=multi-user.target
